@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Base */
  --color-bg: #fdfdfd;
  --color-bg-muted: #f3f4f6;
  --color-border: #e5e7eb;

  /* Text */
  --color-text: #111111;
  --color-text-muted: #4b5563;
  --color-text-inverse: #ffffff;

  /* Accent (cyan) */
  --color-accent: #0ea5e9;
  --color-accent-hover: #0284c7;
  --color-accent-focus: #38bdf8;
  --color-accent-active: #0369a1;

  /* Highlight (pink) */
  --color-highlight: #f472b6;
  --color-highlight-hover: #ec4899;
  --color-highlight-focus: #f9a8d4;
  --color-highlight-active: #db2777;

  /* Utility */
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;

  /* Fonts */
  --font-inter: "Inter", system-ui, sans-serif;
  --font-roboto: "Roboto Mono", monospace;
}

html {
  scroll-behavior: smooth;
}

html, body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: auto;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

.dark {
  --color-bg: #121212;
  --color-bg-muted: #1F1F1F;
  --color-border: #2D2D2D;

  --color-text: #E5E5E5;
  --color-text-muted: #9CA3AF;
  --color-text-inverse: #000000;

  --color-accent: #38BDF8;
  --color-accent-hover: #0EA5E9;
  --color-accent-focus: #7DD3FC;
  --color-accent-active: #0284C7;

  --color-highlight: #F9A8D4;
  --color-highlight-hover: #F472B6;
  --color-highlight-focus: #FBCFE8;
  --color-highlight-active: #EC4899;

  --color-success: #34D399;
  --color-warning: #FBBF24;
  --color-error: #F87171;
}

* {
  @apply transition-colors duration-300;
}
